@import "tailwindcss";

@theme inline {
  /* Colors */
  /* Primary */
  --color-primary: #2563eb; /* أزرق للثقة والاحترافية */
  --color-primary-dark: #1d4ed8;
  /* Secondary / Background */
  --color-bg: #f9fafb; /* خلفية الصفحة */
  --color-card-bg: #ffffff; /* خلفية الكارد */
  --color-text: #1f2937; /* نصوص رئيسية */
  --color-border: #e5e7eb; /* الحدود والفواصل */
  --color-gray: var(--color-gray-500);
  /* Accent / Call to Action */
  --color-accent-red: var(--color-red-500); /* errrors */
  --color-accent-orange: #f97316; /* أزرار CTA وعروض */
  --color-accent-green: #10b981; /* إشعارات نجاح */
  /* Optional Dark Mode */
  --color-bg-dark: #111827;
  --color-text-dark: #f9fafb;
  /* Fonts */
  --font-inter: var(--font-inter);
}

@layer base {
  * {
  }
  *:not(svg):not(svg *) {
    color: var(--color-text);
  }
  button {
    cursor: pointer;
  }
  input:disabled {
    background-color: var(--color-border);
  }
}

@layer utilities {
  @keyframes infiniteSpin {
    from {
      rotate: 0deg;
    }
    to {
      rotate: 360deg;
    }
  }
  .animate-spin-custom {
    animation: infiniteSpin 1s linear infinite;
  }
}
